:root{
  --cor-laranja:  #ff8355;
  --texto-branco:white;
  --cor-footer: #2f3334;
  --cor-fundo: #343A40;
  --cor-progresso: #5b5959;
  --cor-degrade: #f34100;
  --imgfoto: url('/assets/imagem/foto.png');
  --imgfig: url('/assets/imagem/sklaranja.svg');
}
/*darkmode*/
.dark-mode:root{
  --cor-laranja:  #6b079a;
  --texto-branco:#343A40;
  --cor-footer: #e7e2e9;
  --cor-fundo: white;
  --cor-progresso: #e8e8e8;
  --cor-degrade: #a577c6;
  --imgfoto: url('/assets/imagem/fotoroxa.png');
  --imgfig: url('/assets/imagem/skroxa.svg');
}


body{
  background-color: var(--cor-fundo);
}
html{
  scroll-behavior: smooth;
}
.logo{
    color: var(--cor-laranja);
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'Poiret One', cursive;
    margin-top: 50px;
}

#imgfoto{
    width: 100%;
    height: 400px;
    background-image: var(--imgfoto);
    background-repeat: no-repeat;
    background-position: center;
  }

#imgfig{
    width: 100%;
    height: 400px;
    background-image: var(--imgfig);
    background-repeat: no-repeat;
    background-position: center;
  }


/*botão darkmode*/
/* From uiverse.io by @victoryamaykin */
.switch {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 34px;
}

 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cor-laranja);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--cor-fundo);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #6b079a;
 }
 
 /* input:focus + .slider {
  box-shadow: 0 0 1px #fbfce7;
 } */
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'ESCURO';
  color: var(--cor-fundo);
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
 }
 
 input:checked + .slider:after {
  content: 'CLARO';
 }

.color1{
    background-color:var(--cor-laranja);
}
.navbar-light .navbar-nav .nav-link{
  color: var(--cor-fundo);
}
p{
    font-size: 2.25rem;
    font-family: 'Poiret One', cursive;
    color: var(--cor-laranja);
}
a:hover{
    text-decoration: none;
}
.texto{
    color: var(--texto-branco);
    font-size: 1rem;
    text-align: justify;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    font-family: 'Work Sans', sans-serif;
}

/* footer{
    background-color: var(--cor-escura);

} */
/*Sobre mim */
.cssbuttons-io-button {
    background: var(--cor-laranja);
    color: var(--cor-fundo);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--cor-laranja);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}
.cssbuttons-io-button .icone {
    font-family: 'Poiret One', cursive;
    background: var(--cor-fundo);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--cor-laranja);
    right: 0.3em;
    transition: all 0.3s;
}
.cssbuttons-io-button:hover .icone {
    width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icone svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--texto-branco);;
}.cssbuttons-io-button:hover .icone svg {
    transform: translateX(0.1em);
}.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/*Habilidades*/
.altura{
    width: 2.5rem;
}
.esq{
    text-align: end;
    
}
.dir{
    display: inline-block;
}
ul{
    padding-inline-start: 2px;
}
.linha{
    display: flex;
    background-color:none;
}
.progress{
    background-color: var(--cor-progresso);
}
.progress-bar{
    background-color: var(--cor-laranja);
}
.item{
  width: 210px;
  height: 42px;
  border: 2px solid var(--cor-laranja);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  font-family: "Hammersmith One", sans-serif;

  color: var(--cor-laranja);
  font-size: 0.83rem
}

/*experiência*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  border-radius: 10%;
  display: table;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  text-transform: uppercase;
  background: var(--cor-laranja);
  padding: 15px 23px;
  color: var(--cor-fundo);
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: var(--cor-laranja);
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 3px solid var(--cor-laranja);
  border-radius: 10px;
  background-color: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
}
.timeline-article p {
  text-align: justify;
  padding: 0;
  font-weight: normal;
  color: var(--texto-branco);;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: var(--texto-branco);;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  font-family: 'Poiret One', cursive;
  position: absolute;
  top: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  color: var(--cor-fundo);
  border-radius: 20%;
  background: var(--cor-laranja);
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 13px;
  line-height: 25px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 20px;
}
@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
}

/*educação*/
.circle {
    padding: 16px 20px;
    border-radius: 30%;
    background-color: var(--cor-laranja);
    color:var(--cor-fundo);
    max-height: 50px;
    z-index: 2;
}
h2 {
    color: #6f45a7;
    font-weight: normal;
}
h4{
  font-family: 'Work Sans', sans-serif;
    color: var(--cor-laranja);
    font-weight: normal;
}
h6{
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
}

.text{
    color: var(--texto-branco);
    font-size: 1rem;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}
.text-light{
  color: var(--texto-branco);
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  text-align: right!important;
}
.connecting-lines.row .col-2 {
  align-self: stretch;
}
.connecting-lines.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid var(--cor-laranja);
  z-index: 1;
}
.connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.connecting-lines.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid var(--cor-laranja);
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid var(--cor-laranja);
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/*PORTFÓLIO*/
.fcard{
  background-color: var(--cor-fundo);
}
/* From uiverse.io by @mateusneves */
button.visite {
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: var(--cor-laranja);
  color: var(--cor-fundo);
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px
}
button.visite::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: var(--cor-laranja);
  background: linear-gradient(90deg, var(--cor-laranja) 20%,var(--cor-degrade) 100%);
  transition: 0.2s; 
}
button .label {
  position: relative;
}
button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
}
button:hover::before {
  height: 100%;
}
button:hover .icon {
  top: 0;
  opacity: 1;
}

/*contato*/
.texts{
  text-align: end;
  color: var(--texto-branco);;
  font-size: 1rem;
}
.after{
  font-size: 1.5rem;
  text-align: center;
  color: var(--texto-branco);
}
.after:hover{
  font-size: 1.25rem;
  color:var(--cor-laranja);
}
.footer-text{
  color:var(--texto-branco);
  font-size: 0.85rem;
}
#topo{
  position: fixed;
  right: 1rem;
  bottom:12rem;
  border-radius: 20%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right:0.75rem;
  text-decoration: none;
  color:var(--cor-fundo);
  background-color: var(--cor-laranja);
}
.rodape{
  background-color: var(--cor-footer);
  margin-top: 2rem
}