
.logo{
    color: #FF8355;
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'Poiret One', cursive;
}
.color1{
    background-color:#FF8355
}

nav{
    color:#343A40;

}

p{
    font-size: 2.25rem;
    font-family: 'Poiret One', cursive;
    color: #FF8355;
}
a:hover{
    text-decoration: none;
}
.texto{
    color: white;
    font-size: 1rem;
    text-align: justify;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

footer{
    background-color: #353535;
}
/*BOTÃO CV */
.cssbuttons-io-button {
    background: #FF8355;
    color: #343A40;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #FF8355;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}
.cssbuttons-io-button .icon {
    font-family: 'Poiret One', cursive;
    background: #343A40;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #FF8355;
    right: 0.3em;
    transition: all 0.3s;
}
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: white;
}.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/*PORCENTAGEM SKIILS*/
.altura{
    width: 2.5rem;
}
.esq{
    text-align: end;
    
}
.dir{
    display: inline-block;
}
ul{
    padding-inline-start: 2px;
}
.linha{
    display: flex;
    background-color:none;
}
.progress{
    background-color: #5b5959;
}
.progress-bar{
    background-color: #FF8355;
}

/*CONSQUISTAS*/

.circle {
    padding: 16px 20px;
    border-radius: 30%;
    background-color: #FF8355;
    color:#343140;
    max-height: 50px;
    z-index: 2;
}
h2 {
    color: #6f45a7;
    font-weight: bold;
}
h4{
    color: #FF8355; 
}
.text{
    color: white;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Poiret One', cursive;
    
}
.connecting-lines.row .col-2 {
  align-self: stretch;
}
.connecting-lines.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #FF8355;
  z-index: 1;
}
.connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.connecting-lines.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #FF8355;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #FF8355;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
